<a href="/ap/admin/logs">Back</a><br>
<table>
    <thead>
        <tr>
            <td>field</td>
            <td>value</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>method</td>
            <td>{{log.method}}</td>
        </tr>
        <tr>
            <td>url</td>
            <td>{{log.url}}</td>
        </tr>
        <tr>
            <td>ip</td>
            <td>{{log.ip}}</td>
        </tr>
        <tr>
            <td>timestamp</td>
            <td>{{prettydatetime log.timestamp}}</td>
        </tr>
        <tr>
            <td>statuscode</td>
            <td>{{log.statuscode}}</td>
        </tr>
        <tr>
            <td>body</td>
            <td>{{log.body}}</td>
        </tr>
        <tr>
            <td>response</td>
            <td>{{log.response}}</td>
        </tr>
    </tbody>
</table>
