<table style="font-size: 10pt;">
    <thead>
        <tr>
            <td>method</td>
            <td>url</td>
            <td>ip</td>
            <td>timestamp</td>
            <td>statuscode</td>
            <td>body</td>
            <td>response</td>
        </tr>
    </thead>
    <tbody>
        {{#each logs}}
            <tr>
                <td>{{this.method}}</td>
                <td>{{this.url}}</td>
                <td>{{this.ip}}</td>
                <td>{{prettydatetime this.timestamp}}</td>
                <td>{{this.statuscode}}</td>
                <td>
                    {{#if (eq this.body "{}")}}
                        <i>empty</i>
                    {{else}}
                        <a href="/ap/admin/logs/{{this.id}}" title="{{this.body}}">{body}</a>
                    {{/if}}
                </td>
                <td>
                    {{#if this.response}}
                        <a href="/ap/admin/logs/{{this.id}}" title="{{this.response}}">{response}</a>
                    {{else}}
                        <i>empty</i>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
